<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>인덱스 페이지</title>
</head>
<body>
<h1>인덱스 페이지</h1>
<hr />
    <button type="button" onclick="location.href='/order'">커피주문하러 가기</button>
    <button type="button" onclick="location.href='/coffee'">커피등록하기(Admin)</button><br>

    <button type="button" onclick="location.href='/join'">회원가입</button>
    <button type="button" onclick="location.href='/login'">로그인</button>
    <button type="button" onclick="location.href='/logout'">로그아웃</button>
</body>
</html>